@font-face {
    font-family: "caveat";
    src: url(../font/Caveat-Regular.ttf);
}

@font-face {
    font-family: "courgette";
    src: url(../font/Courgette-Regular.ttf);
}

@font-face {
    font-family: "dancing";
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: "gloria";
    src: url(../font/GloriaHallelujah-Regular.ttf);
}

@font-face {
    font-family: "indie";
    src: url(../font/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: "josefin";
    src: url(../font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: "montserat";
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "pallette";
    src: url(../font/PaletteMosaic-Regular.ttf);
}

@font-face {
    font-family: "patrick";
    src: url(../font/PatrickHand-Regular.ttf);
}

@font-face {
    font-family: "righteous";
    src: url(../font/Righteous-Regular.ttf);
}

@font-face {
    font-family: "satisfy";
    src: url(../font/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "shadow";
    src: url(../font/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: "smokum";
    src: url(../font/Smokum-Regular.ttf);
}

@font-face {
    font-family: "syne";
    src: url(../font/SyneMono-Regular.ttf);
}

@font-face {
    font-family: "Yanone";
    src: url(../font/YanoneKaffeesatz-VariableFont_wght.ttf);
}