/* 
color datu : #0f3057
color dua : #e7e7de
 */

@import "https://fonts.googleapis.com/css?family=Roboto";
body {
    font-family: 'Roboto';
    background: #fafafa;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    font-size: 12px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* menu samping */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    background: url("../img/sidebar-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(19, 19, 19);
    transition: all 0.3s;
    font-size: 14px;
    line-height: 24px;
    overflow-y: auto;
}

#sidebar .transbox {
    /* height: 800px; */
    height: 96%;
    background-color: rgba(192, 192, 192, 0.5);
}

a[data-bs-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: rgba(192, 192, 192, 0.5);
}

#sidebar ul.components {
    padding: 12px;
    border-bottom: 1px solid #0f3057;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: 2px 4px;
    text-align: left;
}

#sidebar ul li a:hover {
    color: #f1f3f5;
    background: #0f3057;
    border-radius: 5px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0f3057;
    border-radius: 5px;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #bdbec0;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .nama-menu {
    display: none;
}

#sidebar .sidebar-header .logo-panjang {
    display: block;
}

#sidebar .sidebar-header .logo {
    display: none;
}

#sidebar.active .sidebar-header .logo {
    display: block;
}

#sidebar.active .sidebar-header .logo-panjang {
    display: none;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


/* alert */

#divPesan {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
}

.alert {
    position: relative;
}

.alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
}


/* lazzy load */

.mid {
    min-height: 24px;
    max-width: 180px;
    margin-bottom: 10px;
    border-radius: 4px
}

.mid-big {
    min-height: 40px;
    max-width: 560px;
    margin-bottom: 15px;
    border-radius: 4px
}

.mid-big-subtitle {
    min-height: 24px;
    max-width: 960px;
    margin-bottom: 20px;
    border-radius: 4px
}


/* Animacao background */

.lazyColor {
    opacity: 0.5;
    background: linear-gradient(135deg, rgba(211, 223, 232, .5) 30%, rgba(169, 184, 197, .5) 38%, rgba(168, 182, 193, .6) 41%, rgba(168, 182, 193, .6) 50%, rgba(168, 182, 193, .6) 50%, rgba(169, 184, 197, .6) 51%, rgba(211, 223, 232, .6) 57%, rgba(211, 223, 232, .6) 80%, rgba(211, 223, 232, .6) 80%);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 1s ease infinite reverse;
    -moz-animation: AnimationName 1s ease infinite reverse;
    animation: AnimationName 1s ease infinite reverse;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    100% {
        background-position: 100% 9%
    }
}


/* task */

.li-drag button {
    display: none;
}

.li-drag:hover button {
    display: block;
}

.li-drag:hover {
    background-color: #f7f7f7;
}

.btn-edit:hover .material-icons {
    font-size: 18px;
}

.btn-edit .material-icons {
    font-size: 14px;
}


/* scrollbar */

.main-header {
    border-radius: 25px 25px 0 0;
    padding: 10px 50px 8px 50px;
}

.main-body {
    width: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pagination {
    padding-top: 20px;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.page-link.active-page {
    background-color: #0f3057 !important;
    color: #e7e7de !important;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #0f3057 !important;
    color: #e7e7de !important;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #0f3057;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #1a1c20;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.table {
    font-size: 12px;
}


/* START TOOLTIP STYLES */

[tooltip] {
    position: relative;
    /* opinion 1 */
}


/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: 0.9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    /* most of the rest of this is opinion */
    font-family: Tahoma, sans-serif;
    text-align: center;
    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #0f3057;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}


/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}


/* don't show empty tooltips */

[tooltip=""]::before,
[tooltip=""]::after {
    display: none !important;
}


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #0f3057;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #0f3057;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #0f3057;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #0f3057;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

button.dropdown-item {
    font-size: 12px;
    color: black;
}

button.dropdown-item:hover {
    font-size: 12px;
    border: solid 1px;
    border-color: #0f3057;
    color: #0f3057;
}

.image-upload>input {
    display: none;
}

.form-group label {
    font-size: 12px;
}

.modal-body {
    padding: 10px 30px 10px 30px;
}

.form-control:focus {
    border-color: #e7e7de;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e7e7de;
}

.form-control {
    border-color: #0f3057;
}


/* warna */

.color-bgt-merah {
    border-color: #c2185b !important;
    color: #c2185b !important;
}

.color-bgt-merah:hover {
    background-color: #c2185b !important;
    color: white !important;
}

.color-bgt-ungu {
    border-color: #9c27b0 !important;
    color: #9c27b0 !important;
}

.color-bgt-ungu:hover {
    background-color: #9c27b0 !important;
    color: white !important;
}

.color-bgt-biru {
    border-color: #00bcd4 !important;
    color: #00bcd4 !important;
}

.color-bgt-biru:hover {
    background-color: #00bcd4 !important;
    color: white !important;
}

.color-bgt-emas {
    border-color: #0f3057 !important;
    color: #0f3057 !important;
}

.color-bgt-emas:hover {
    background-color: #0f3057 !important;
    color: white !important;
}

.color-bg-merah {
    background-color: #c2185b !important;
    color: white !important;
}

.color-bg-ungu {
    background-color: #9c27b0 !important;
    color: white !important;
}

.color-bg-biru {
    background-color: #00bcd4 !important;
    color: white !important;
}

.color-bgt-default {
    background-color: #0f3057 !important;
    color: white !important;
}

.btn-default {
    background-color: #e7e7de !important;
    color: #0f3057;
}

.btn-default:hover {
    background-color: #0f3057 !important;
    color: #e7e7de !important;
    border: solid #e7e7de 1px;
    -moz-box-shadow: inset 0 0 10px #e7e7de;
    -webkit-box-shadow: inset 0 0 10px #e7e7de;
    box-shadow: inset 0 0 10px #e7e7de;
}

.btn-opsi {
    border: none;
    border-radius: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.btn-opsi:hover {
    background-color: #0f3057 !important;
    color: #e7e7de !important;
    -moz-box-shadow: inset 0 0 10px #e7e7de;
    -webkit-box-shadow: inset 0 0 10px #e7e7de;
    box-shadow: inset 0 0 10px #e7e7de;
}

.modal-header {
    background-color: #0f3057;
    color: #e7e7de;
    border-radius: 20px 20px 0 0 !important;
}

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }
    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    #sidebar.active ul ul a {
        padding: 10px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}